<h2>Entrez un nouveau poney</h2>

<form [formGroup]="ponyForm" (ngSubmit)="onSubmit()">
  Name : <input type="text" id="name" name="name" formControlName="name"/>
  Age : <input type="text" id="age" name="age" formControlName="age"/>
  Weight : <input type="text" id="weight" name="weight" formControlName="weight"/>
  Color : <input type="text" id="color" name="color" formControlName="color"/><br>
  <button type="submit" [disabled]="!ponyForm.valid">Save</button>
</form>

<p>
  Valeur : {{ponyForm.value | json}}
</p>

<p>
  Status : {{ponyForm.status}}
</p>