<h2>Enter a new race</h2>

<form (ngSubmit)="onSubmit()">
  Location : <input type="text" id="location" name="location" required [(ngModel)]="model.location" /><br>
  Date : <ngb-datepicker #dp [(ngModel)]="dateModel" [ngModelOptions]="{standalone: true}"></ngb-datepicker><br>
  Participants : 
  <p-pickList sourceHeader="Disponibles" targetHeader="Sélectionnés" [source]="ponies" [target]="model.ponies" [responsive]="true" dragdrop="true" dragdropScope="ponies">
    <ng-template let-pony pTemplate="item">
        <div class="ui-helper-clearfix">
            {{pony.name}}
        </div>
    </ng-template>
</p-pickList>

  <button type="submit">Enregistrer</button>
</form>